doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    title
    meta(name='description' content='')
    meta(name='viewport' content='width=device-width' inital-scale='1')
    link(href='app.css' rel='stylesheet')
    link(href="https://fonts.googleapis.com/css?family=Karla:400,700,Oxygen:300,400,700" rel="stylesheet")
  body
    .container
      .tile-box
        img(src="img/device.svg", alt="mobile-device")
        h1 Mobile
        p Get notifications about new releases in our mobile app
        h2 #[sup $]10 #[span / month]

      .tile-box
        img(src="img/laptop.svg", alt="computer")
        h1 Desktop
        p Enjoy new episode on your laptop in browser on our web service, which supports all platforms
        h2 #[sup $]15#[span / month]

      .tile-box
        img(src="img/monitor.svg", alt="televison")
        h1 TV
        p Watch your favorite series at home on the large screen with out TV application
        h2 #[sup $]20 #[span / month]


