font-size = 14px
font-stack = "Karla", "Oxygen", sans-serif
body
  background-color #8aaadf
  font font-size  font-stack

.container
  display grid
  grid-template-columns 1fr 1fr 1fr
  width 50%
  margin 35vh auto
  background-color #fff
  color #aaa
  border-radius .25em
  padding 2em
  box-shadow 0 22px 50px rgba(14,21,47, .2), 0 8px 20px rgba(14,21,47, .2)

.tile-box
    text-align center
    border-radius .25em
    padding 1em 5em

    h1 
      text-transform uppercase
      font-weight 700
      color #47d
      margin 45px 0

    h2 
      color #47d
      font-size 3em

      span
        font-size font-size
        margin-left -10px

    p
      font-weight 300
    img
      width 7em

.tile-box:hover
  background-color: rgba(#dfdfdf, .3)

